@import '../../assets/variables';

.article {
  margin: $margin;

  h1 {
    margin: 0;
  }

  header {
    color: $color-text-light;
    margin-top: $padding;

    span {
      &:not(:first-child) {
        margin-left: $padding;
      }
    }
  }

  article {
    margin: $margin 0;
  }

  .block-img {
    max-width: 50em;
  }
}

// mobile

@media only screen and (max-width: $responsive-break) {
}

// desktop

@media only screen and (min-width: $responsive-break) {
}
