.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: $layout-size;
}

.header {
  .container {
    align-items: center;
    display: flex;

    img {
      border-radius: 100%;
    }

    h1 {
      font-size: 2em;
      font-weight: normal;
      margin: 0;
    }

    nav {
      display: flex;
      margin-left: auto;

      a {
        padding: $layout-padding;
      }
    }
  }
}

.home {
  a {
    display: block;

    &:hover {
      article {
        h2 {
          color: $color-primary;
        }
      }
    }

    article {
      margin: $layout-margin 0;

      img {
        border-radius: $border-radius;
      }

      h2 {
        color: $color-text;
        font-size: 2em;
        margin: #{$layout-padding / 2} 0;
      }

      p {
        color: $color-text;
      }

      footer {
        color: $color-text-light;
      }
    }
  }
}

.article {
  header {
    margin: $layout-margin 0;

    h1 {
      margin: 0;
    }

    p {
      color: $color-text-light;
    }
  }

  .hero {
    width: 100%;
  }

  section {
    margin: $layout-margin 0;

    :first-child {
      margin-top: 0;
    }

    h1,
    h2,
    h3 {
      margin: $layout-padding 0;
    }

    img {
      border-radius: $border-radius;
    }
  }

  footer {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: $layout-padding #{- ($layout-padding / 2)};

      li {
        background: $color-background-dark;
        border-radius: $border-radius;
        line-height: 1;
        list-style: none;
        margin: $layout-padding / 2;
        padding: $layout-padding / 2;
      }
    }
  }
}

.footer {
  opacity: 0.5;

  .container {
    p {
      line-height: 1;
      margin: 0;
    }

    nav {
      margin: $layout-padding 0;

      a {
        &:not(:first-child) {
          margin-left: $layout-padding;
        }
      }
    }
  }
}
