// fonts

@import url('https://api.fontshare.com/css?f[]=satoshi@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// global

::selection {
  @apply bg-primary-100 text-black dark:bg-primary-900 dark:text-white;
}

body {
  @apply cursor-default antialiased text-black dark:text-white bg-white dark:bg-black;
}

a {
  @apply transition-colors text-primary-600 dark:text-primary-400 hover:text-primary-500 dark:hover:text-primary-300;
}

button {
  @apply focus:outline-none;
}

hr {
  @apply border-0 my-8;
}

// layout

#__next {
  @apply min-h-screen flex flex-col p-8 max-w-6xl mx-auto;

  & > main {
    @apply flex-1 my-16;
  }
}

// zoom

[data-rmiz-modal-overlay='visible'] {
  background-color: white !important;
}

[data-rmiz-btn-unzoom] {
  color: white !important;
  background-color: black !important;
}

@media (prefers-color-scheme: dark) {
  [data-rmiz-modal-overlay='visible'] {
    background-color: black !important;
  }

  [data-rmiz-btn-unzoom] {
    color: black !important;
    background-color: white !important;
  }
}
