@import '../../assets/variables';

.blog {
  margin: $margin;

  a {
    &:not(:first-child) {
      article {
        margin-top: $margin * 2;
      }
    }

    &:nth-child(even) {
      h2 {
        color: $color-primary;
      }
    }
  }

  article {
    margin: $margin 0;

    h2 {
      color: $color-accent;
      margin: 0;
    }

    p {
      color: $color-text;
    }

    span {
      color: $color-text-light;

      &:not(:first-of-type) {
        margin-left: $padding;
      }
    }
  }

  button {
    appearance: none;
    background: $color-accent;
    border-radius: $border-radius;
    border: none;
    color: $color-background;
    cursor: pointer;
    font: inherit;
    margin: $margin 0;
    padding: $padding;
    transition: $transition;

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(1.2);
    }
  }
}

// mobile

@media only screen and (max-width: $responsive-break) {
}

// desktop

@media only screen and (min-width: $responsive-break) {
}
