@import '../../assets/variables';

.home {
  .social {
    margin: $margin * 2 0 0;

    nav {
      a {
        align-items: center;
        color: $color-text;
        display: flex;

        &:before {
          content: '';
          background-position: center;
          background-repeat: no-repeat;
          background-size: 1.5em auto;
          height: 2em;
          margin-right: 0.5em;
          width: 2em;
        }

        &.dribbble {
          &:before {
            background-image: url('../../assets/dribbble.svg');
          }
        }

        &.github {
          &:before {
            background-image: url('../../assets/github.svg');
          }
        }

        &.twitter {
          &:before {
            background-image: url('../../assets/twitter.svg');
          }
        }
      }
    }
  }
}

// mobile

@media only screen and (max-width: $responsive-break) {
  .home {
    .social {
      nav {
        a {
          margin: $padding 0;
        }
      }
    }
  }
}

// desktop

@media only screen and (min-width: $responsive-break) {
  .home {
    .social {
      align-items: center;
      display: flex;

      nav {
        display: flex;

        a {
          margin-left: $padding;
        }
      }
    }
  }
}
