@import '../../assets/variables';

.header {
  display: flex;
  padding: $margin;

  > a {
    align-items: center;
    display: flex;

    img {
      background: $color-accent;
      border-radius: 100%;
      color: $color-background;
      height: 4em;
      width: 4em;
    }
  }

  > nav {
    align-items: center;
    display: flex;
    margin-left: $padding;

    a {
      padding: $padding;
    }
  }
}
