@import '../../assets/variables';

.header {
  align-items: center;
  display: flex;
  padding: $margin;

  > a {
    flex: 0 0 4em;

    img {
      background: $color-accent;
      border-radius: 100%;
      color: $color-background;
      height: 4em;
    }
  }

  > nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: $padding;

    a {
      padding: $padding;

      &.active {
        color: $color-accent;
      }
    }
  }
}
