@import '../assets/variables';
@import '../assets/animations';

.spinner {
  animation: spinner 1s linear infinite;
  border-radius: 100%;
  border: #{$margin / 10} solid $color-primary;
  border-top-color: transparent;
  height: $margin;
  margin: $margin 0;
  width: $margin;
}
