@import "../assets/variables";

.article {
  .header {
    display: flex;
    margin: $margin 0;

    h1 {
      flex: 1;
      font-size: 4em;
      margin: 0;
    }

    .meta {
      color: $color-text-light;
      margin-left: $margin;
      max-width: $max-width / 4;
      text-align: right;

      span {
        display: block;
      }
    }
  }

  figure {
    border-radius: $border-radius;
    margin: $margin 0;
    overflow: hidden;
  }
}
