@import "../assets/variables";

.blog {
  section {
    display: flex;
    flex-wrap: wrap;
    margin: -$margin;

    a {
      color: $color-text;
      flex-basis: calc(50% - #{$margin * 2});
      margin: $margin;

      &:hover {
        color: $color-text;

        h1 {
          color: $color-primary;
        }
      }

      &.featured {
        flex-basis: 100%;
      }

      figure {
        border-radius: $border-radius;
        overflow: hidden;
      }

      h1 {
        transition: $transition;
      }

      span {
        color: $color-text-light;
      }
    }
  }

  .spinner {
    margin: #{$margin * 2} 0;
  }

  button {
    appearance: none;
    background: $color-primary;
    border-radius: $border-radius;
    border: none;
    color: $color-background;
    cursor: pointer;
    display: block;
    font: inherit;
    margin: #{$margin * 2} auto auto;
    padding: $padding;
    transition: $transition;

    &:hover {
      background: $color-accent;
    }

    &:active {
      background: $color-primary;
    }
  }
}
