$color-primary: #ff3b30;
$color-accent: #007aff;

$color-background: #fff;
$color-background-dark: darken($color-background, 10%);

$color-text: #000;
$color-text-light: #999;

$text-size-small: 0.875em;
$text-size-large: 1.5em;

$transition: 300ms;

$margin: 2em;
$padding: 1em;

$border-radius: 0.25em;

$responsive-break: 480px;

$spinner-size: 2em;
$spinner-border-width: 2px;
