$color-primary: #ff2d55;
$color-accent: #007aff;

$color-background: #fff;
$color-background-dark: darken($color-background, 10%);

$color-text: #000;
$color-text-light: #999;

$transition: 0.2s;

$margin: 2em;
$padding: 1em;

$border-radius: 0.25em;

$responsive-break: 480px;

$spinner-size: 2em;
$spinner-border-width: 2px;
