@import '../../assets/variables';

.ideas {
  article {
    margin: $margin 0;

    h2 {
      align-items: center;
      display: flex;

      span {
        background: $color-accent;
        border-radius: $border-radius;
        color: $color-background;
        font-size: 0.75rem;
        line-height: 1;
        margin-left: $padding;
        padding: 0.5em;
        text-transform: lowercase;
      }
    }

    footer {
      color: $color-text-light;
      margin-top: $padding;

      span {
        &:not(:first-child) {
          margin-left: $padding;
        }
      }
    }
  }
}

// mobile

@media only screen and (max-width: $responsive-break) {
}

// desktop

@media only screen and (min-width: $responsive-break) {
}
