// imports

@import 'assets/variables';
@import 'assets/animations';

// reset

*,
*:after,
*:before {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// global

a {
  color: $color-primary;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $color-accent;
    filter: brightness(1.1);
  }
}

body {
  background: $color-background;
  color: $color-text;
  cursor: default;
  font: normal 14px/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin: $padding 0;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: top;
}

ol,
ul {
  li {
    line-height: 1.6;
    list-style: square;
    margin: $padding 0 $padding $margin;
    max-width: 40em - $margin;
  }
}

p {
  line-height: 1.6;
  margin: $padding 0;
  max-width: 40em;
}

span {
  line-height: 1.6;
}

// layout

main {
  margin: $margin;
}

// responsive

@media only screen and (max-width: $responsive-break) {
  [data-oembed] {
    overflow: hidden;
  }
}
